* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    margin: 20px;
    line-height: 1.6;
}
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
nav ul li {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}

nav>ul>li:first-child {
    background-color: aquamarine;
}

nav>ul>li:nth-child(2n){
    background-color: blue;
}


/* Heading style */
h1 {
    color: darkred;
    text-align: center;
}

/* Paragraph style */
p {
    color: #333;
    font-size: 18px;
}

/* Table styling */
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 60%;
}

/* Table cells */
th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

/* Image styling */
img {
    border-radius: 10px;
}

details {
    color: #333;
    font-size: 18px;
}